* {
    color: white;
    background-color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
}

img {
    width: 75%;
    height: auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

li {
    margin: 10px 10px;
}

.ingredient li {
    color: red;
}

.recipe li {
    color: greenyellow;
}

.recipe a {
    color: greenyellow;
}